@model IEnumerable<MVC_203_08_30QUIZ.Models.Diary>

@{
    ViewData["Title"] = "Home Page";
}

<p>
    <a asp-action="Diary">Diary New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.No)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-no="@item.No">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Title">Details</a> |
                        <a asp-action="Delete" asp-route-no="@item.No">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

